:host {
  direction: rtl;
}

mat-dialog-content {
  min-width: 400px;
  padding: 24px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-actions {
  padding: 16px 24px;
  
  button {
    margin-right: 8px;
  }
}

mat-spinner {
  display: inline-block;
  margin: 0 8px;
}
